<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.laphonegap.helloworld"
        versionCode="10" 
        version   = "1.0.0">
		
	<!-- For more information about using config.xml, see
		https://build.phonegap.com/docs/config-xml -->

    <!-- versionCode is optional and Android only -->
    
    <!-- define which version of phonegap to use, not required -->
    <preference name="phonegap-version" value="3.3.0" />
	
	<!-- this app will have no device api access -->
	<preference name="permissions" value="none"/>
	
	<!-- the default icon to be use, for BlackBerry must be less than 16kb -->
	<icon src="icon.png" />

	<!-- the default splash screen to use -->
	<!-- iOS -->
	<gap:splash src="splash_320-480.png" width="320" height="480" />
	<gap:splash src="splash_640-960.png" width="640" height="960" />
	<gap:splash src="splash_1024-768.png" width="1024" height="768" />
	<gap:splash src="splash_768-1024.png" width="768" height="1024" />
	<!-- Android -->
	<gap:splash src="splash_320-480.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="splash_640-960.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="splash_1024-768.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="splash_768-1024.png" gap:platform="android" gap:density="xhdpi" />
	<!-- BlackBerry -->
	<gap:splash src="laphonegap_splash.png" gap:platform="blackberry" />
	<!-- Windows Phone -->
	<gap:splash src="laphonegap_splash.jpg" gap:platform="winphone" />
	
	<preference name="Fullscreen" value="true" />
	<preference name="Orientation" value="landscape" />
	<preference name="DisallowOverscroll" value="true"/>

    <name>StoplichtApp</name>

    <description>
        Een spel waar je een goed reactievermogen voor nodig hebt. 
    </description>

    <author href="https://webdesignwiljan.nl/stoplicht" email="wiljan@webdesignwiljan.nl">
        Webdesignwiljan 
    </author>

</widget>